[package]
name = "nvim-web-host"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
serde = { version = "1", features = ["derive"] }
rmpv = "1"
rmp-serde = "1"
tungstenite = "0.24"
lazy_static = "1.4"

[dev-dependencies]
tempfile = "3"

[lib]
name = "nvim_web_host"
path = "src/lib.rs"
